<p><%= alert %></p>
<%= form_with(model: User, local: true) do |form| %>
 
    <div class="form-io">
      <b>Регистрация</b>
      
        <%= form.text_field :login, placeholder: "Логин", class: 'textarea'%>
    
      
        <%= form.password_field :password, placeholder: "Пароль", class: 'textarea' %>
    
      
        <%= form.password_field :password_confirmation, placeholder: "Повторите пароль", class: 'textarea' %>
    
        <%= form.submit 'Создать', :class => 'button' %>
        <p>
          У меня уже есть аккаунт,
          <%= link_to 'войти', login_url %>
        </p>
    </div>
    
    <% end %>